<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Index</title>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="#">GroupUp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/users">Log in</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/users/new">Sign up</a>
               </li>
            </ul>
         </div>
      </nav><br>

      <div id="indexImage" class="container-fluid">

      </div><br>
      <div class="container"><br>
         <div class="row">
            <div class="col-3">
               <div class="card">
                  <img src="assets/index2.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Outdoors & Adventure</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index3.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Photography</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index4.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Writing</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index5.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Tech</b></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-3">
               <div class="card">
                  <img src="assets/index6.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Beliefs</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index7.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Book Clubs</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index8.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Career & Business</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index9.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Dance</b></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-3">
               <div class="card">
                  <img src="assets/index10.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Fashion & Beauty</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index11.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Sci-Fi & Games</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index12.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Language & Culture</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index13.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>LGBTQ</b></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-3">
               <div class="card">
                  <img src="assets/index14.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Music</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index15.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Family</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index16.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Pets</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index17.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Social</b></h4>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-3">
               <div class="card">
                  <img src="assets/index18.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Sports & Fitness</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index19.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Movements</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index20.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Food & Drink</b></h4>
                  </div>
               </div>
            </div>
            <div class="col-3">
               <div class="card">
                  <img src="assets/index21.jpg" alt="Avatar" style="width:100%">
                  <div class="container">
                     <h4><b>Health & Wellness</b></h4>
                  </div>
               </div>
            </div>
         </div>
      </div><br><br>

      <div id="indexDescription" class="container-fluid" style="background-color: #0f1721;">
         <div class="container text-center">
            <h1>How GroupUp Works</h1>
         </div><br>
         <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
               <h3>Find a GroupUp</h3>
               <p>Discover local GroupUps for all the things you love.</p>
               <a href="/users/new">Sign up</a>
            </div>
            <div class="col-4">
               <h3>Create a GroupUp</h3>
               <p>Create your own GroupUp, and draw from a community of millions.</p>
            </div>
            <div class="col-2"></div>
         </div>
      </div><br><br>

      <div class="container">
         <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
            <div class="col-sm-3">

            </div>
         </div>
      </div>

      <footer class="container-fluid" style="background-color: #353e48;">
         <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
               <h3>Start a new event</h3>
            </div>
         </div>
         <hr>
         <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
               <p><bold>Your Account</bold></p>
               <p><a href="/users/new"> Sign up</a></p>
               <p><a href="/users/new">Log in</a></p>
               <p><a href="">Help</a></p>
            </div>
            <div class="col-2">
               <p><bold>Discover</bold></p>
               <p><a href="">Groups</a></p>
               <p><a href="">Topics</a></p>
               <p><a href="">Cities</a></p>
            </div>
            <div class="col-2">
               <p><bold>GroupUp</bold></p>
               <p><a href="">About</a></p>
               <p><a href="">GroupUp Pro</a></p>
               <p><a href="">Apps</a></p>
            </div>
            <div class="col-4">
               <p>&copy; GroupUp 2018</p>
               <a href="">Terms of Service |</a> <a href=""> Privacy Policy |</a> <a href=""> Cookie Policy</a>
            </div>
            <div class="col-1"></div>
         </div>
      </footer>
   </body>
</html>
